.status-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color-dark);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
}
.status-bar--fixed {
  position: fixed;
}
.status-bar__column {
  width: 33.3333%;
}
.status-bar__column:first-child {
  display: flex;
  align-items: center;
}

.fa-wifi {
  margin: 0 10px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-battery-quarter {
  margin: 0 10px;
}
